<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farms</title>
  <style>

  </style>
</head>

<body>
  <h1>All Farm</h1>
  <a href="/farms/new">Add New Farm</a>
  <h1>Total Farms: <%= farms.length %></h1>
  <ul>
    <% for (let farm of farms) { %>
      <li><a href="/farms/<%= farm._id %>"><%= farm.name %></a></li>      
    <% } %>
  </ul>

</body>
</html>